@* @model EExamWebApp.ViewModels.CourseViewModel *@
@* *@
@* @if (Model.Students != null) *@
@* { *@
@*     if (Model.Students.Count() > 0) *@
@*     { *@
@*         <select id="SelectedStudentIds" name="SelectedStudentIds" class="form-control" size="10" multiple="multiple"> *@
@*             @foreach (var student in Model.Students) *@
@*             { *@
@*                 //print student count here *@
@* *@
@*                 <option value="@student.Value">@student.Text</option> *@
@*             } *@
@*         </select> *@
@*     } *@
@*     else *@
@*     { *@
@*         <p>No available students found.</p> *@
@*     } *@
@* } *@