@model IEnumerable<EExamWebApp.Models.User>

@foreach (var user in Model)
{
    using (Html.BeginForm("ApproveUsers", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("id", user.Id)
        <p>
            @user.Username - @user.Email
            <button type="submit" class="btn btn-success">Approve</button>
        </p>
    }
}
