@model System.Collections.Generic.List<EExamWebApp.Models.Course>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <p>Logged in as: <strong>@ViewBag.UserRole</strong></p>
<h2>title</h2>
